ion-header {
    --background: #fff;
}

ion-content {
    --background: #f8f9fa;
}

ion-toolbar {
    --background: #f9f9f9;
    --color: rgb(17, 17, 17);
}

ion-title {
    font-size: 18px;
    font-weight: bold;
}

.add-img-container {
    margin: 24px 0;
    text-align: center;
}

.add-img-container ion-button {
    height: 60px;
    border: 2px dashed #8e44ad;
    color: #8e44ad;
}

.add-img-container ion-icon {
    margin-right: 8px;
}

.add-img-container img {
    max-width: 100%;
    height: 250px;
    border-radius: 5px;
  }

ion-item {
    --background: rgba(243, 240, 240, 0.797);
    border-radius: 18px;
    padding: 0px 10px;
    margin-bottom: 16px;
    margin-top: 20px;
    color: #6a696b;
}

.add-task-button {
    margin-top: 24px;
    --border-radius: 12px;
    font-weight: bold;
}

.prio {
    --background: #a56df4a1;
    font-weight: bolder;
    color: rgb(12, 12, 12);
}

h6 {
    color: gray;
    font-weight: 600;
    padding-left: 10px;
    text-transform: capitalize;
}